<div *ngIf="isOpen"
    class="fixed top-0 right-0 h-full w-80 bg-white shadow-2xl z-50 p-4 space-y-4 flex items-start flex-col">

    <div class="flex items-center justify-between w-full">
        <!-- Left: Profile picture and user info -->
        <div class="flex items-center space-x-3">
            <img [src]="profilePicUrl || 'https://via.placeholder.com/150/000000/FFFFFF?text=U'" alt="Profile"
                class="w-12 h-12 rounded-md object-cover" />
            <div class="flex flex-col">
                <h2 class="text-lg font-semibold text-black">{{ firstName + ' ' + lastName }}</h2>
                <p class="text-sm text-gray-600">{{ email }}</p>
            </div>
        </div>
        <button (click)="closeRightbar()"
            class="w-7 h-7 flex items-center justify-center text-black font-bold rounded hover:bg-gray-200 transition">
            ✕
        </button>
    </div>

    <div class="flex w-full h-[96%]">
        <div class="gap-3 flex flex-col item-start w-full ml-2 mt-2">
            <a routerLink="/profile" (click)="closeRightbar()" class="sideBarButtons sideBarButtons:hover">
                <p class="ml-2">Your profile</p>
            </a>
            <button (click)="logout()" class="sideBarButtons sideBarButtons:hover text-left pl-2">
                Log out
            </button>
            <button (click)="resetPassword()" class="sideBarButtons sideBarButtons:hover text-left pl-2">
                Change Password
            </button>
        </div>
    </div>

</div>